go 1.25.5

use (
	./cli
	./common
	./idgen
	./indexer
	./mocks
	./pool
	./stores/badger
	./stores/memory
	./stores/mongodb
	./stores/postgres
	./stores/progressive
	./stores/redis
	./stores/sharded
	./testing
	./worker
)
